# SPDX-License-Identifier: Apache-2.0

# Shared requirements
openai==1.9.0
tiktoken
langchain==0.1.11

# Chroma requirements
chromadb==0.4.22
numpy==1.26.4
onnxruntime
tokenizers
tqdm
requests

# Pinecone requirements
pinecone-client==3.0.1
tiktoken
langchain==0.1.11

# OpenSearch requirements
opensearch-py==2.5.0

# Qdrant requirements
qdrant-client==1.9.1
